:root {
    --bg-main: #ffffff;
    --bg-sidebar: #f8f9fa;
    --accent: #6366f1;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    color: var(--text-main);
}

/* Sidebar */
.sidebar {
    width: 300px;
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.2rem;
    height: 100px;
    margin-bottom: 1.5rem;
}

/* Criar nota */
.btn-create {
    text-align: end;

}

.search-container input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    background: white;
    margin-bottom: 1.5rem;
    outline: none;
}

.search-container input:focus {
    border-color: var(--accent);
}

/* Lista de Notas */
.notes-list {
    flex: 1;
    overflow-y: auto;
}

.note-item {
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
}

.note-item:hover {
    background: #f1f5f9;
}

.note-item.active {
    background: #ede9fe;
    border-left: 4px solid var(--accent);
}

.note-item h4 {
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.note-item p {
    font-size: 0.8rem;
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Editor */
.editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
}

.editor-header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border);
}

.status {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.btn-primary {
    background: var(--accent);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.editor-content {
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
}

.editor-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    outline: none;
}

.editor-text {
    font-size: 1.1rem;
    line-height: 1.6;
    outline: none;
    color: #374151;
}